@use "base/mixins" as m;
@use "base/variables" as v;

.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    @include m.desktop{
        flex-direction: row;
    }
    &__content{
        min-height: calc(100vh - 77px);
        padding-top: 3rem;
        padding-bottom: 3rem;
        position: relative;
        display: flex;
        gap: 2rem;
        align-items: center;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        @include m.desktop{
            gap: 0;
            flex-direction: row;
            justify-content: flex-start;
        }
    }
    &__bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &__left{
        width: 100%;
        @include m.desktop{
            max-width: 450px;
        }
    }
    &__title{
        color: v.$celeste;
        font-family: v.$fblack;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    &__right{
        width: 90%;
        @include m.desktop{
            width: auto;
        }
    }
    &__img{
        width: 100%;
        @include m.desktop{
            transform: translateX(16px);
        }
    }
}