@use "base/variables" as v;

.button{
    font-size: 1rem;
    padding: 1rem 1.4rem;
    color: v.$blanco;
    border-radius: 23px;
    background-color: v.$azul;
    cursor: pointer;
    border-color: v.$blanco;
    &-gosth{
        background-color: transparent;
        border-color: v.$blanco;
        
    }
    &-celeste{
        background-color: v.$celeste;
    }
}

