@use "base/variables" as v;

.header{
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    background-color: transparent;
    transition: all 250ms linear;
    // &:hover{
    //     background-color: v.$negro;
    // }
    &-active{
        background-color: v.$negro;
    }
    color: v.$blanco;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: v.$zfixed;
    &__content{
        height: 77px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    &__left{
        
    }
    &__right{

    }
}