@use "base/mixins" as m;
@use "base/variables" as v;

.iconWithInformation{
    display: flex;
    align-items: center;
    gap: .5rem;
    &__text{
        color: v.$blanco;
        font-family: v.$flight;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 0;
    }
}