@use "base/variables" as v;

.input{
    padding: 1.1rem .8rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 35px;
    border: solid 1px #00000029;
    color: v.$negro;
    outline: none;
    &:focus{
        outline: solid 1px v.$negro;
    }
}

.textarea{
    width: 100%;
    padding: 1.3rem 1rem;
    font-size: 1rem;
    border-radius: 35px;
    border: solid 1px #00000029;
    min-height: 211px;
    color: v.$negro;
    outline: none;
    resize: none;
    &:focus{
        outline: solid 1px v.$negro;
    }
}