@use "base/variables" as v;
@use "base/mixins" as m;

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: v.$fregular;
    // margin-top: 77px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}