@use 'variables' as v;
@use 'mixins' as m;

a{
    font-size: 1.1rem;
}
h1{
    font-size: 2.5em;
    line-height: 1.2em;
    margin-top: 0;
    @include m.desktop{
        font-size: 3.85em;
    }
}
h2{
    font-size: 2.85em;
    line-height: 1.2em;
    margin-top: 0;
    font-family: v.$fbold;
    &.up{
        font-size: 3em;
    }
    &.down{
        font-size: 2.2em;
    }
}
h3{
    font-size: 1.65em;
    line-height: 1.2em;
    margin-top: 0;
}

p{
    font-size: 1rem;
    margin-top: 0;
}