
// Fuentes
$medium: 'AvenirMedium';
$heavy: 'AvenirHeavy';
$light: 'AvenirLight';
$bold: 'AvenirBook';
$black: 'AvenirBlack';

$ampleBold: 'AmpleAlt';
$ampleRegular: 'AmpleSoftRegular';

// Medidas de Media Queries
$telefono: 480px;
$tablet: 768px;
$tablet_lg: 942px;
$desktop: 1024px;
$desktop_lg: 1200px;
$television: 1462px;

// Colores
$blanco: #ffffff;
$verde: #6CC24A;
$verde2: #56A543;
$azul: #004C97;
$gris: #807E7E;
$gris2: #707070;
$gris3: #EEEEEE;
$sombra: #00000014;
$sombra2: #004C9729;
$negro: #3D3D3D;