@font-face {
    font-family: 'BiennaleRegular';
    src: url(../../../public/fonts/BiennaleRegular.otf);
    font-display: swap;
}
@font-face {
    font-family: 'BiennaleBold';
    src: url(../../../public/fonts/BiennaleBold.otf);
    font-display: swap;
}
@font-face {
    font-family: 'BiennaleLight';
    src: url(../../../public/fonts/BiennaleLight.otf);
    font-display: swap;
}
@font-face {
    font-family: 'BiennaleBlack';
    src: url(../../../public/fonts/BiennaleBlack.otf);
    font-display: swap;
}

// Fuentes
$fregular: 'BiennaleRegular';
$flight: 'BiennaleLight';
$fbold: 'BiennaleBold';
$fblack: 'BiennaleBlack';

// Medidas de Media Queries
$telefono: 480px;
$tablet: 768px;
$tablet_lg: 942px;
$desktop: 1024px;
$desktop_lg: 1200px;
$television: 1462px;

$znormal: 1;
$zfixed: 10;
$zmodal: 100;


// Colores
$blanco: #FFFFFF;
$celeste: #30CEB3;
$celesteclaro: #F3F5F9;
$celesteoscuro: #30CEB3;
$azul: #3333CC;


$gris: #5A5A5A;
$negro: #000000;